{% extends 'base.html' %}
{% load static %}


{% block titulo %}
    Compra exitosa
{% endblock titulo %}



{% block contenido %}

    <div class="bg-secondary">

    <div class="mb-2 sticky-top">
        {% include 'includes/header.html' %}
    </div>

    <div class="container">
        <div class="row justify-content-around">
            <div class="imagenFondo">
                <img src="{% static 'img/exito.jpg' %}" class="img-fluid imagen" width="100%">
                    <span><div class="container">
                        <div class="row mx-5 px-2">
                            <div class="col-10">
                                <p class="display-3 text-center">

                                </p>
                                <div class="row justify-content-around">
                                    <div class="col-3">

                                    </div>
                                </div><br><br>
                                <div class="row justify-content-around">
                                    <div class=" col-5">
                                        <a href="{% url 'artista_app:inicio' %}">

                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></span>
            </div>
        </div>
    </div>

    <!--{{ lista.disco.lista_canciones|linebreaksbr }}-->


{% endblock contenido %}
