{% load static %}

{% if lista.nombre == 'Luis' %}
    <img src="{% static 'img/luis.jpeg' %}" class="card-img" alt="My image">
{% endif %}
{% if lista.nombre == 'Armin' %}
    <img src="{% static 'img/Armin.jpeg' %}" class="card-img" alt="My image">
{% endif %}
{% if lista.nombre == 'Bad' %}
    <img src="{% static 'img/bad.jpeg' %}" class="card-img" alt="My image">
{% endif %}
{% if lista.nombre == 'Ghost' %}
    <img src="{% static 'img/ghost.jpg' %}" class="card-img" alt="My image">
{% endif %}
{% if lista.nombre == 'Vicente' %}
    <img src="{% static 'img/vic.jpeg' %}" class="card-img" alt="My image">
{% endif %}
{% if lista.nombre == 'José' %}
    <img src="{% static 'img/jose.jpg' %}" class="card-img" alt="My image">
{% endif %}
{% if lista.nombre == 'A Day' %}
    <img src="{% static 'img/aDay.jpg' %}" class="card-img" alt="My image">
{% endif %}
{% if lista.nombre == 'Avicii' %}
    <img src="{% static 'img/avicii.jpg' %}" class="card-img" alt="My image">
{% endif %}
{% if lista.nombre == 'Bronco' %}
    <img src="{% static 'img/bronco.jpg' %}" class="card-img" alt="My image">
{% endif %}
{% if lista.nombre == 'K-Paz' %}
    <img src="{% static 'img/kpaz.jpg' %}" class="card-img" alt="My image">
{% endif %}
{% if lista.nombre == 'Lil' %}
    <img src="{% static 'img/lilXan.jpg' %}" class="card-img" alt="My image">
{% endif %}
{% if lista.nombre == 'Los Temerarios' %}
    <img src="{% static 'img/temerarios.jpg' %}" class="card-img" alt="My image">
{% endif %}
{% if lista.nombre == 'The Chainsmokers' %}
    <img src="{% static 'img/theChains.jpg' %}" class="card-img" alt="My image">
{% endif %}
{% if lista.nombre == 'Zedd' %}
    <img src="{% static 'img/zedd.jpg' %}" class="card-img" alt="My image">
{% endif %}
{% if lista.nombre == 'Dj Snake' %}
    <img src="{% static 'img/snake.jpg' %}" class="card-img" alt="My image">
{% endif %}
{% if lista.nombre == 'Kygo' %}
    <img src="{% static 'img/kygo.jpg' %}" class="card-img" alt="My image">
{% endif %}
{% if lista.nombre == 'Wu Tang' %}
<img src="{% static 'img/wu.jpg' %}" class="card-img" alt="My image">
{% endif %}
{% if lista.nombre == 'Eminem' %}
<img src="{% static 'img/eminem.jpg' %}" class="card-img" alt="My image">
{% endif %}
{% if lista.nombre == 'Kendrick' %}
<img src="{% static 'img/lamar.jpg' %}" class="card-img" alt="My image">
{% endif %}
