{% load static %}

{% if lista.nombre == 'Luis' %}
  <a class="btn btn-light" href="https://www.youtube.com/watch?v=ssnZ5tIHw1Y" role="button">Link demo</a>
{% endif %}
{% if lista.nombre == 'Armin' %}
  <a class="btn btn-light" href="https://www.youtube.com/watch?v=_WWh6dAt21s" role="button">Link demo</a>
{% endif %}
{% if lista.nombre == 'Bad' %}
  <a class="btn btn-light" href="https://www.youtube.com/watch?v=YO9xuiSsHL8" role="button">Link demo</a>
{% endif %}
{% if lista.nombre == 'Ghost' %}
  <a class="btn btn-light" href="https://www.youtube.com/watch?v=WKxkj4OaAq4" role="button">Link demo</a>
{% endif %}
{% if lista.nombre == 'Vicente' %}
  <a class="btn btn-light" href="https://www.youtube.com/watch?v=x4OyNMBkMIw" role="button">Link demo</a>
{% endif %}
{% if lista.nombre == 'José' %}
  <a class="btn btn-light" href="https://www.youtube.com/watch?v=js9s1HRvB4M" role="button">Link demo</a>
{% endif %}
{% if lista.nombre == 'A Day' %}
  <a class="btn btn-light" href="https://www.youtube.com/watch?v=_ksdIDS1SCM" role="button">Link demo</a>
{% endif %}
{% if lista.nombre == 'Avicii' %}
  <a class="btn btn-light" href="https://www.youtube.com/watch?v=-ncIVUXZla8" role="button">Link demo</a>
{% endif %}
{% if lista.nombre == 'Bronco' %}
  <a class="btn btn-light" href="https://www.youtube.com/watch?v=urH3cU2_z1M" role="button">Link demo</a>
{% endif %}
{% if lista.nombre == 'K-Paz' %}
  <a class="btn btn-light" href="https://www.youtube.com/watch?v=nyd7QcGUjQs" role="button">Link demo</a>
{% endif %}
{% if lista.nombre == 'Lil' %}
  <a class="btn btn-light" href="https://www.youtube.com/watch?v=m_BzXBag9Q4" role="button">Link demo</a>
{% endif %}
{% if lista.nombre == 'Los Temerarios' %}
  <a class="btn btn-light" href="https://www.youtube.com/watch?v=y9V0fphiGOk" role="button">Link demo</a>
{% endif %}
{% if lista.nombre == 'The Chainsmokers' %}
  <a class="btn btn-light" href="https://www.youtube.com/watch?v=FM7MFYoylVs" role="button">Link demo</a>
{% endif %}
{% if lista.nombre == 'Zedd' %}
  <a class="btn btn-light" href="https://www.youtube.com/watch?v=Sl2HeP8RlfU" role="button">Link demo</a>
{% endif %}
{% if lista.nombre == 'Dj Snake' %}
  <a class="btn btn-light" href="https://www.youtube.com/watch?v=IvPT2QuCIOA" role="button">Link demo</a>
{% endif %}
{% if lista.nombre == 'Kygo' %}
  <a class="btn btn-light" href="https://www.youtube.com/watch?v=_G-k6TQYUek" role="button">Link demo</a>
{% endif %}
{% if lista.nombre == 'Wu Tang' %}
  <a class="btn btn-light" href="https://www.youtube.com/watch?v=LRhRNgqPlyk" role="button">Link demo</a>
{% endif %}
{% if lista.nombre == 'Eminem' %}
  <a class="btn btn-light" href="https://www.youtube.com/watch?v=YVkUvmDQ3HY" role="button">Link demo</a>
{% endif %}
{% if lista.nombre == 'Kendrick' %}
  <a class="btn btn-light" href="https://www.youtube.com/watch?v=tvTRZJ-4EyI" role="button">Link demo</a>
{% endif %}
